.login_background {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_blanco_login {
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    border-radius: 30px;
    padding: 25px;
    display: grid;
    margin: 4% auto;
    grid-template-columns: 1fr 1px 1fr; /* Definimos tres columnas: izquierda, barra y derecha */
}

.columna_izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.letras_logo_login {
    height: 100px;
    width: auto; 
}
.logos_login img{
    width: 200px;
    height: 100px;
}
.barra_prin_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra_negra {
    height: 50%;
    width: 1px;
    background-color: black;
}

.columna_derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.login_tit {
    text-align: center;
}

.titulo_login {
    margin-bottom: 10px;
}

.txt_login {
    display: flex;
    justify-content: center;
    align-items: center;
}