
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Header_logo*/
.header_logo{
    height: 110px;
    width: auto;
}
.letras_logo{
    width: 200px; 
    height: auto;
}
.header_all{
    margin-bottom: 30px;
}

/*footer*/
.pie-de-pagina {
    padding: 5px 5px;
    font-size: 14px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.logo-pie {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_text_main {
    color: white;
}
.footer_img_logo{
    height: 70px;
    width: auto;
}
.footer_letras_logo{
    width: 160px; 
    height: auto;
}
.navegacion-pie {
    display: flex;
}
.enlaces-pie, .contacto-pie {
    margin: 10px;
}
.enlaces-pie h4, .contacto-pie h4 {
    margin-bottom: 10px;
}
.enlaces-pie ul {
    list-style: none;
    padding: 0;
}
.enlaces-pie ul li {
    margin-bottom: 5px;
}
.enlaces-pie ul li a {
    text-decoration: none;
    color: #1F91BD;
    transition: color 0.3s;
}
.enlaces-pie ul li a:hover {
    color: #f24e4e;
}
.contacto-pie p {
    color: #1F91BD;
    margin-bottom: 5px;
}
.footer-red {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.footer_text_main {
    margin-bottom: 10px; 
}
.footer_red_iconos {
    display: flex;
    gap: 10px; 
}
.footer-facebook img,
.footer-instagram img {
    width: 30px; 
    height: auto;
}
.footer_derechos p{
    color: #fff;
}
.footer_derechos{
    text-align: center;
    width: 100%;   
}

/*barra-de-busqueda*/
.img_buscar{
    width: 25px;
    height: auto;
}
.contenedor_barra{
    margin-bottom: 30px;
}

/* categorias */
.contenedor-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    margin-bottom: 40px;

}
.articulo {
    display: flex;
    width: 45%;
    gap: 15px;
    align-items: center;
    border-radius: 20px;
    padding: 1%;
    min-height: 200px; 
}
.articulo img {
    width: 20%;
    height: auto;
}
.texto {
    width: 75%;
}
.artistico {
    background-color: #FADD4C;
    color: #fff;
}
.deportivo {
    background-color: #ADD02E;
    color: white;
}
.social {
    background-color: #f24e4e;
    color: white;
    margin-bottom: 20px;
}
.cultural {
    background-color: #1C83AC;
    color: #fff;
    margin-bottom: 20px;
}
.boton {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 120px;
    height: auto;
    padding: 10px 20px; 
    background-color: #F5432B; 
    color: white; 
    text-decoration: none;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
.deportivo, .social {
    border-radius: 20px;
    border: 1px solid #ccc; 
}
.imagen.social, .imagen.deportivo{
    border: none;
}
@media (max-width: 768px) {
    .articulo {
        width: 100%; /* Hacer que los artículos ocupen el 100% del ancho en resoluciones bajas */
    }
}

/*FormularioContacto*/

.contenedor-fc {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto; 
}

.formulario-contacto {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; 
}
.informacion-contacto {
    padding: 20px;
    flex: 1; 
}
.ubicacion-direccion {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.fc-ubicacion{
    margin-right: 8px;
}

.formulario-contacto h2 {
    color: #000;
    margin-bottom: 20px;
}
#calle-dir{
    margin-left: 20px;
}
.fc-campo {
    margin-bottom: 15px;
}
.fc-campo label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

.fc-campo input,
.fc-campo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}
.fc-campo input {
    height: 40px;
}
.fc-campo textarea {
    height: 100px;
    resize: none;
}

.informacion-contacto figure {
    text-align: center;
    margin-bottom: 20px;
}
.fc-ubicacion img{
    height: 20px;
    width: auto;
}
.fc-mapa img{
    max-width: 100%;
    height: auto;
}
.informacion-contacto address {
    font-style: normal;
    margin-bottom: 20px;
}
.informacion-contacto address p {
    margin: 0;
    line-height: 1.5;
}
.seccion-redsocial {
    text-align: start;
    margin-left: 20px;
}
.seccion-redsocial p {
    margin-bottom: 0px;
}
.seccion-redsocial a {
    display: inline-block;
    font-size: 2rem;
}
@media (max-width: 768px) {
    .formulario-contacto, .informacion-contacto {
        padding: 10px;
    }
    .ubicacion-direccion {
        margin-left: 10px;
    }
    #calle-dir {
        margin-left: 10px;
    }
    .seccion-redsocial {
        margin-left: 10px;
    }
}


/*----Registrarse----*/

.pag-registro{
    background-image: url(../img/background.jpg);
}
.contenedor-principal-registrarse{
    background-color: rgba(255,255,255,0.8);
    width: 1000px;
    border-radius: 30px;
    padding: 25px;
    display: grid;
    margin: 4% auto;
    grid-template-columns: 1fr 1fr;
}
.logo-and-nom-regis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lts_regis{
    width: 200px; 
    height: auto;
    object-fit: cover;
}
.logo-img-pag-regis{
    width: auto;
    height: 350px;
}
#nom-proy-regis{
    color: #d8351e;
}
.campo-regis {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.campo-regis label, .rol-regis  {
    margin: 0;
    font-size: 25px;
    font-weight: lighter;
}
.campo-regis input, .rol-regis {
    background-color:rgba(80,80,80,0.3);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-regis{
    font-size: 25px;
    color:white;
    background-color: #F5432B;
    border:none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-regis:hover {
    background-color: #d43a23;
}

/*slider*/

/*Index*/
.miclub_p3{
    margin-bottom: 30px;
}

.miclub_con_clic {
    position: relative;
    background-image: url("../img/background.jpg"); 
    background-size: cover;
    background-position: center;
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    padding: 5px;
    overflow: hidden; 
    margin-bottom: 30px;
}

.miclub_con_clic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 40, 40, 0.5); 
    z-index: 1;
}

.miclub_con_clic > * {
    position: relative;
    z-index: 2; 
}
.miclub_con_sec_in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miclub_consec_text{
    text-align: center;
    color: white; 
}
.miclub_consec_text h2{
    font-size: 30px;
    margin-bottom: 15px;
}
#miclub_btn_index {
    background-color: #f24e4e ;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    max-width: 300px;
    font-weight: 900;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*cursos deportes*/
.centrar_cursos{
    margin-left: 175px;
    width: 1000px;
    display:grid;
    justify-content: center;
}
.contenido_cursos{
    background-color: #ADD02E;
    border-radius: 20px;
    margin: 20px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido_cursos_a{
    background-color: #FADD4C;
    border-radius: 20px;
    margin: 20px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido_cursos_c{
    background-color: #1C83AC;
    border-radius: 20px;
    margin: 20px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido_cursos_s{
    background-color: #F5432B;
    border-radius: 20px;
    margin: 20px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenes_cursos{
    margin: 20px;
    background-color: #F5432B;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 3px solid white;
    border-radius: 15px;
}
.texto_cursos{
    color:white;
    margin: 20px;
}
.accion_cursos{
    color:white;
    text-decoration: none;
    font-family: Helvetica bold;
}
.boton_cursos{
    background-color: #F5432B;
}
.background_registro{
    background-image:url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*----alumnos create-------*/

.con-body-form-adminalu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.con-prin-form-adminalu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 400px;
}

.con-form-img-adminalu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.con-form-img-adminalu img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.h2-form-adminalu {
    text-align: center;
    color: #d8351e;
    font-size: xx-large;
}

.con-form-adminalu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#h1-form-adminalu {
    margin-bottom: 20px;
}

.label-form-adminalu {
    align-self: flex-start;
    margin-bottom: 5px;
}

.input-form-alu {
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.boton-agregar-adminalu {
    color: white;
    background-color: #d8351e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}


/*----admin instructores index---*/

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex: 1;
}
.img_cat{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img_catalogos{
    width: auto;
    height: 90px;

}
.letras_proy_cat{
    max-width: 150px;
    height: 70px;
} 
.aside-admininstruct {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100vh;
    
}
.icono-cat {
    width: 24px;
    height: 24px;
}

/*---categorias create--*/

body.con-body-form-admincat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.con-prin-form-admincat {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    gap:25px;
    width: 550px;
}

.con-form-img-admincat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.con-form-img-admincat img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.h2-form-admincat {
    text-align: center;
    color: #d8351e;
    font-size: xx-large;
}

.con-form-admincat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    gap: 20px;
}

#h1-form-admincat {
    margin-bottom: 20px;
}

.label-form-admincat {
    margin-bottom: 5px;
}

.input-form-cat {
    margin-bottom: 20px;
    padding: 5px;
    width: 350px;
}

.boton-agregar-admincat {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #d8351e;
    width: 364px;
    color: white;
}

/*--instructor create--*/
.con-body-form-admininstruct {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.con-prin-form-admininstruct {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 400px;
    height: auto;
}

.con-form-img-admininstruct {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.con-form-img-admininstruct img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}
.h2-form-admininstruct {
    text-align: center;
    color: #d8351e;
    font-size: xx-large;
}
.con-form-admininstruct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#h1-form-admininstruct {
    margin-bottom: 20px;
}
.label-form-admininstruct {
    align-self: flex-start;
    margin-bottom: 5px;
}
.input-form-admininstruct {  
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.boton-agregar-admininstruct{
    padding: 10px 20px;
    background-color: #d8351e;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}
/*-------------*/
.header_catalogos{
    height: 100px;
    background-color: black;
    display: flex;

}
.contenido_catalogos{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centro_catalogos{
    background-color: gray;
}
.tabla_catalogos{
    border: 1px solid black;
}

/*---create_form_*/
.con_prin_form1{
    display: grid;
    grid-template-columns: 40% 50%;
    gap:10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-image: radial-gradient(circle, #000000, #434343);
    background-color: #fff;
    height: 100vh;
    overflow: hidden; 
    padding: 20px;
}
.con_sec_form1{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column; 
}
.con_img_form1{
    max-width: 250px;
    height: 300px;

}
.con_ltr_form1{
    max-width: 250px;
    height: 100px;
}
.img_cur_form1{
    height: 100%;
    width: 100%;
}
.img_ltr_form1{
    width: 100%;
    height: 100%;
}
.con_cuar_form1{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    max-width: 430px;
    height: 100%;
}
.con_tit_form1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.con_form1{
    display: flex;
    flex-direction: column;
    width: 100%;
}    
.nom_form_form1{
    color: #fff;
    font-size: x-large;
}
.label-form1 {
    margin: 0;
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
}
.input-form1 {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #434343; 
    color: #ffffff; 
    transition: background-color 0.3s; 
}

.input-form1:focus {
    background-color: #555555; 
    border-color: #ffffff; 
    outline: none; 
}
.btn_form1{
    font-size: 25px;
    color:white;
    background-color: #F5432B;
    border:none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
    border-radius: 5px;
}
.btn_form1:hover {
    background-color: #d43a23;
}
@media (max-width: 768px) {
    .con_prin_form1{
        display: grid;
        grid-template-columns: 100%;
        gap: 0;
        height: auto;
    }
    .con_sec_form1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .con_ter_form1{
        padding: 50px;
    }
    .con_tit_form1{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .con_form1{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    } 
    .con_cuar_form1{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }   
}
@media (max-width: 320px){
    .nom_form_form1{
        color: #fff;
        font-size: large;
    }
}
.logo_admin_create{
    height: 500px;
}